*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	/* font-family: 'Barlow Condensed', sans-serif; */
  font-family: Georgia, serif;
}

body{
   background-color: whitesmoke;
   /* background-color: unset; */
}

.home{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.6)),
        url('../imgs/background.webp');
    background-size:cover; 
    /* background: url('../images/background.webp');
    background-size: cover; */
}

.intro{
    color: whitesmoke;
    padding: 10% 20%;
    text-align: center;
    font-size: 18px;
    /* font-weight: 300; */

}

.name{
    font-size: 75px;
    font-weight: 400;
}

.fa {
    padding: 5px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-github {
    background: white;
    color: white;
    inline-size: 50pt;
    content:url(../imgs/github-icon.png);
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
    inline-size: 50pt;
    content:url(../imgs/linkedin-icon.png);
  }
  
  .fa-twitter {
    background: white;
    color: white;
    inline-size: 50pt;
    content:url(../imgs/twitter-icon.png);
  }

  .fa-udemy {
    background: #A435F0;
    color: white;
    inline-size: 50pt;
    content:url(../imgs/udemy-icon.png);
  }

